/* ===============all links css start=============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
/* =============== all links css end ============= */
/* ================common css start ============== */
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
:root{
  --quicksand: "Quicksand", serif;
  --opensans: "Open Sans", serif;
  --primary: #001837;
  --secondary : #565656;
  --brand : #FBA311
}
body{
  background-color:#F0F2F4 ;
}
.common-btn{
  padding: 20px 30px;
  border-radius: 50px;
  background-color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--quicksand);
  color: white;
  /* line-height: 24px; */
  transition: 0.3s;
}
 /* ================common css end ============== */

 /* =============menupart start =============== */
.menubar{
  /* padding: 0 30px; */
  margin: 30px 40px;
  background-color: white;
  border-radius: 30px;
}
.menubar ul{
  display: flex;
  gap: 46px;
}
.menubar ul li a{
  font-size: 14px;
  font-weight: 800;
  font-family: var(--quicksand);
  color: var(--primary) !important;
  line-height: 100px;
  letter-spacing: 0.5px;
  transition: all linear 0.3s;
  position: relative;
}
.menubar ul li a::after{
  content: "";
  height: 6px;
  width: 6px;
  background-color: var(--brand);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%);
}
.menubar ul li:last-child a::after{
  display: none;
}
.menubar ul li a:hover{
  color: var(--brand) !important;
}
.menubar .call{
  display: flex;
  gap: 10px;
  align-items: center;
}
.menubar .call img{
  width: 50px;
  cursor: pointer;
}
.menubar .call a{
  color: var(--primary);
  font-size: 18px;
  font-weight: 800;
  font-family: var(--quicksand);
  line-height: 24px;
}
.menubar-end{
  display: flex;
  gap: 30px;
}
.menubar-end button {
  background-color: transparent;
  border: none;
}
.menubar-end .common-btn:hover{
  transform: scale(1.07);
  background-color: var(--brand);
}

 /* =============menupart end =============== */

 /* ============= banner part start ========== */

 #banner{
  margin-top: 25px;
  padding: 155px 0 170px 230px;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 40px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 #banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background: linear-gradient(90deg, rgb(29, 25, 58) 0%, rgba(9,9,121,0.09576330532212884) 90%);
  z-index: -1;
 }
 #banner h2{
  font-size: 14px;
  font-family: var(--opensans);
  font-weight: 600;
  color: white;
  line-height: 24px;
  letter-spacing: 1px;
  transform: translateX(0);
  animation-name: banner-h2;
  animation-timing-function: linear;
  animation-duration: 2s;
 }
.banner_heading{
  width: 580px;
  height: 170px;
  overflow: hidden;

}
#banner h1{
  font-size: 80px;
  font-family: var(--quicksand);
  font-weight: 800;
  color: white;
  line-height: 80px;
  animation-name: banner-h1;
  animation-timing-function: linear;
  animation-duration: 2s;
 }
 #banner p{
  font-size: 18px;
  font-family: var(--opensans);
  font-weight: 400;
  color: white;
  line-height: 24px;
  margin: 46px 0 25px;
 }
 #banner .common-btn{
  background-color: var(--brand);
  animation: banner-btn 1s infinite linear alternate;
 }
 #banner .common-btn:hover{
  background-color: #001837;
 }

 #banner img{
  animation: banner-star 2s infinite linear ;
 }

 /* ==============banner animation start============= */
 @keyframes banner-star {
    0%{
      transform: rotate(-360deg);
    }
    
 }
@keyframes banner-btn {
  0%{
    transform: scale(1.2);
  }
}

@keyframes banner-h2 {
  0%{
    transform: translateX(-500px);
  }
}
@keyframes banner-h1 {
  0%{
    transform: translateY(300px);
  }
}


 /* ============= banner part end ============ */

 /* ============= services part start ======== */

#services{
  margin: 40px;
}
#services .ser-start{
  background: url(../images/services1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 43px 0 40px 40px;
  position: relative;
}
#services .ser-start .header{
  display: flex;
  align-items: center;
  gap: 10px;
}
 .brush{
  color: var(--brand);
  transform: rotate(225deg);
}
#services .ser-start .header h3{
  font-size: 13px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 17px;
}
#services .ser-start p{
  width: 298.45px;
  font-size: 26px;
  font-weight: 700;
  font-weight: var(--quicksand);
  color: #001837;
  line-height: 30px;
  margin-top: 101px;
}
#services .ser-start .service-arrow{
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 70px;
  height: 60px;
  background-color: #F0F2F4;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 10px 0;
}
#services .ser-start .service-arrow a{
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  color: white;
  animation: serv-arrow 1s infinite linear ;
}
#services .ser-center{
  height: 100%;
  padding: 20px;
  background-color: var(--brand);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#services .ser-center h2{
  font-size: 70px;
  font-weight: 800;
  font-family: var(--opensans);
  line-height: 100px;
  color: var(--primary);
}
#services .ser-center span{
  color: var(--brand);
  background-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
#services .ser-center p{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--opensans);
  color: white;
  line-height: 27px;
}
#services .ser-end{
  height: 100%;
  background: url(../images/services2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 40px 0 0 40px;
  position: relative;
  overflow: hidden;
}
#services .ser-end h4{
  width: 236px;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 28px;
}
#services .ser-end .btn{
  width: 179px;
  height: 70.61px;
  background-color: #F0F2F4;
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 30px;
  right: -10px;
  bottom: 0;
  position: absolute;
}
#services .ser-end .btn a:hover{
  background-color: var(--brand);
}
  
/* =========== service animation part ============ */
@keyframes serv-arrow {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


 /* ============= services part end ========== */

 /* ============= choose us part start ========== */

#chooseus{
  background: url(../images/choose_us_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 248px;
  background-color: white;

}
#chooseus .button .brush{
  color: var(--brand);
  transform: rotate(225deg);
}
#chooseus .button h4{
  font-size: 13px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 24px;
}
#chooseus .button a{
  background-color: white;
  color: var(--primary);
  margin-top: 258px;
}
#chooseus .text{
  display: flex;
  gap: 40px;
}
#chooseus .text:nth-child(2){
  margin-top: 74px;
}
#chooseus .text .single-card{
  width: 356px;
}
#chooseus .text .single-card h2{
  font-size: 24px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 28px;
  margin: 25px 0 10px;
}
#chooseus .text .single-card p{
  font-size: 15px;
  font-weight: 400;
  font-family: var(--opensans);
  color: var(--secondary);
  line-height: 24px;
}

 /* ============= choose us part end ========== */

 /* ============= marquee part start ========== */
#marquee{
  overflow: hidden;
  background-color: white;

}
#marquee .marquee-row{
  display: flex;
  align-items: center;
  gap: 45px;
  width: 100%;
  animation: text-slider 15s linear infinite;
  animation-delay: -20s;
  
}
#marquee .marquee-row h2{
  font-size: 90px;
  font-weight: 700;
  font-family: var(--opensans);
  color: white;
  line-height: 120px;
  background-color: transparent;
  -webkit-text-stroke: 1px rgba(0, 24, 55, 0.2);
}
#marquee .marquee-row img{
  animation: marq-img 2s infinite linear;
}

/* ============= marquee animation ===================== */

@keyframes marq-img {
  0%{
    transform: rotate(360deg);
  }
}
@keyframes text-slider {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-400%);
  }
}
 /* ============= marquee part end ========== */

 /* ============= Cleaning part start ========== */

#cleaning{
  padding: 100px 0;
  background-color: white;
}
#cleaning .img{
  border-radius: 30px;
  overflow: hidden;
}
#cleaning .img img{
  width: 100%;
}
#cleaning .text{
  height: 100%;
  padding: 100px 120px;
  background-color: #F0F2F4;
  border-radius: 30px;
}
#cleaning .text .header{
  display: flex;
  align-items: center;
  gap: 6px;
}
#cleaning .text h5{
  font-size: 13px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 24px;
  letter-spacing: 0.5px;
}
#cleaning .text h2{
  font-size: 55px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 65px;
  letter-spacing: 0.25px;
  margin: 6px 0 30px;
}
#cleaning .text p{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--opensans);
  color: var(--secondary);
  line-height: 26px;
  margin-bottom: 52px;
}
#cleaning .counter{
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 56px;
  margin-bottom: 35px;
}
#cleaning .text .single-col{
  display: flex;
  gap: 37px;
  
}
#cleaning .text .single-col h3{
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 28px;
}
#cleaning .text .single-col h3 sup{
  font-size: 15px;
}
#cleaning .text .single-col p{
  width: 85px;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 24px;
  margin-top: 20px;
}
#cleaning h4{
  font-size: 22px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 22px;
  margin-bottom: 22px;
}
#cleaning .bottom-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#cleaning .bottom-text h6{
  font-size: 16px;
  font-weight: 500;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 35px;
}
#cleaning .bottom-text .check{
  font-size: 24px;
  color: var(--brand);
}

 /* ============= Cleaning part end ========== */

 /* ============= ourservices part start ============ */

 #our_services{
  background-color: white;
  padding-bottom: 90px;
 }
 #our_services .heading h4{
   font: 700 13px var(--quicksand);
   color: var(--primary);
   line-height: 24px;
   letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 6px;
 }
 #our_services .heading h2{
  font: 700 55px var(--quicksand);
  color: var(--primary);
  line-height: 65px;
  letter-spacing: 0.25px;
  margin: 8px 0 50px;
 }

 #our_services .our_services_slider{
  display: flex;
  gap: 40px;
 }
 #our_services .img{
  width: 33%;
   border-radius: 30px;
   position: relative;
  }

  #our_services .icons{
    width: 66px;
    height: 58px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    left: 322px;
    bottom: -10px;
    padding: 8px 8px 0;
  }
  #our_services .icons a{
    width: 50px;
    height: 50px;
    background-color: var(--brand);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: service_icons 1s infinite linear;
  }
  #our_services .icons::after{
    content: '';
    height: 39px;
    width: 19px;
    background-color: transparent;
    box-shadow: 0 20px 0 0 #fff;
    border-bottom-right-radius: 50px;
    position: absolute;
    bottom: 11px;
    right: 66px;
  }
 
  #our_services .icons::before{
    content: '';
    height: 39px;
    width: 19px;
    background-color: transparent;
    box-shadow: 0 20px 0 0 #fff;
    border-bottom-left-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: -19px;
  }
 #our_services .text{
   padding: 40px 36px 31px;
  }
  #our_services .text h3{
    font: 700 24px var(--quicksand);
    color: var(--primary);
    line-height: 28px;
  }
  #our_services .text p{
    font: 400 15px var(--opensans);
    color: var(--secondary);
    line-height: 24px;
    margin: 12px 0 22px;
  }
  #our_services .text .bottom_icon{
    width: 70px;
    height: 70px;
    background-color: #F0F2F4;
    color: var(--brand);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: .3s ease-in-out;
  }
  #our_services .text .bottom_icon:hover{
    transform: scale(1.1);
  }
 
 
 @keyframes service_icons {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
 }
  
 /* ============= ourservices part end ============ */

 /* ============= counters part start  ============= */

 #counters{
  background-color: white;
  padding-bottom: 100px;
 }
  
  #counters .heading{
    border-bottom: 1px solid #000;
    margin-bottom: 100px;
  }
  #counters .heading h3{
    width: fit-content;
    margin: auto;
    padding: 0 30px;
    background-color: white;
    font: 400 12px var(--opensans);
    color: var(--secondary);
    line-height: 12px;
    transform: translateY(7px);
  }
  #counters .single_card h2{
    font: 800 100px var(--opensans);
    color: var(--primary);
    line-height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }
  #counters .single_card h2 span{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px var(--primary);
  }
  #counters .single_card p{
    font: 400 17px var(--opensans);
    color: var(--secondary);
    line-height: 27px;
  }
  
 /* ============= counters part end  ============= */

 /* ============== calculator part start ========= */

#calculator{
  background-color: white;
  padding: 0 40px;
}
#calculator .calc_bg{
  background-image: url(../images/calculator_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 52px;
  border-radius: 30px;
}

#calculator .form_bg{
  background-image: url(../images/form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 80px 100px;
}
#calculator h3{
  font: 700 13px var(--quicksand);
  color: white;
  line-height: 24px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 6px;
}
#calculator h2{
  max-width: 365px;
  font: 700 55px var(--quicksand);
  color: white;
  line-height: 65px;
  letter-spacing: 0.25px;
  margin: 6px 0 48px;
}
#calculator .form_bg .calc_form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  position: relative;
}
#calculator .form_bg .calc_form .inputs{
  width: 48%;
}
 #calculator select{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding: 19px 31px;
  border-radius: 50px;
  font: 400 14px var(--opensans);
  color: #7892AE;
  outline: none;
  line-height: 21px;
 }
 #calculator input{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding: 19px 31px;
  border-radius: 50px;
  font: 400 14px var(--opensans);
  color: #7892AE;
  outline: none;
  line-height: 21px;
}
#calculator input::placeholder{
  color: #7892AE;

 }
 #calculator .form_bg .calc_form p{
   font: italic 15px var(--opensans);
   color: #D4E0F0;
  }
  #calculator .form_bg .calc_form button{
    border: none;
    background-color: white;
    color: var(--primary);
    padding: 18px 55px;
    line-height: 24px;
    font: 15px 600 var(--quicksand);
    position: absolute;
    bottom: -100px;
    right: 24px;
    transition: .3s ease-in-out;
  }
  #calculator .form_bg .calc_form button:hover{
    background-color: black;
    color: white;
  }
  #calculator .form_bg .calc_form button .arrow{
    transform: rotate(-45deg);
  }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* ============== calculator part end ========= */
