/* ===============all links css start=============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
/* =============== all links css end ============= */
/* ================common css start ============== */
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
:root{
  --quicksand: "Quicksand", serif;
  --opensans: "Open Sans", serif;
  --primary: #001837;
  --secondary : #565656;
  --brand : #FBA311
}
body{
  background-color:#F0F2F4 ;
}
.common-btn{
  padding: 20px 30px;
  border-radius: 50px;
  background-color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--quicksand);
  color: white;
  /* line-height: 24px; */
  transition: 0.3s;
}
 /* ================common css end ============== */

 /* =============menupart start =============== */
.menubar{
  /* padding: 0 30px; */
  margin: 30px 40px;
  background-color: white;
  border-radius: 30px;
}
.menubar ul{
  display: flex;
  gap: 46px;
}
.menubar ul li a{
  font-size: 14px;
  font-weight: 800;
  font-family: var(--quicksand);
  color: var(--primary) !important;
  line-height: 100px;
  letter-spacing: 0.5px;
  transition: all linear 0.3s;
  position: relative;
}
.menubar ul li a::after{
  content: "";
  height: 6px;
  width: 6px;
  background-color: var(--brand);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%);
}
.menubar ul li:last-child a::after{
  display: none;
}
.menubar ul li a:hover{
  color: var(--brand) !important;
}
.menubar .call{
  display: flex;
  gap: 10px;
  align-items: center;
}
.menubar .call img{
  width: 50px;
  cursor: pointer;
}
.menubar .call a{
  color: var(--primary);
  font-size: 18px;
  font-weight: 800;
  font-family: var(--quicksand);
  line-height: 24px;
}
.menubar-end{
  display: flex;
  gap: 30px;
}
.menubar-end button {
  background-color: transparent;
  border: none;
}
.menubar-end .common-btn:hover{
  transform: scale(1.07);
  background-color: var(--brand);
}

 /* =============menupart end =============== */

 /* ============= banner part start ========== */

 #banner{
  margin-top: 25px;
  padding: 155px 0 170px 230px;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 40px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 #banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background: linear-gradient(90deg, rgb(29, 25, 58) 0%, rgba(9,9,121,0.09576330532212884) 90%);
  z-index: -1;
 }
 #banner h2{
  font-size: 14px;
  font-family: var(--opensans);
  font-weight: 600;
  color: white;
  line-height: 24px;
  letter-spacing: 1px;
 }
  #banner h1{
  font-size: 80px;
  font-family: var(--quicksand);
  font-weight: 800;
  color: white;
  line-height: 80px;
 }
 #banner p{
  font-size: 18px;
  font-family: var(--opensans);
  font-weight: 400;
  color: white;
  line-height: 24px;
  margin: 46px 0 25px;
 }
 #banner .common-btn{
  background-color: var(--brand);
  animation: banner-btn 1s infinite linear alternate;
 }
 #banner .common-btn:hover{
  background-color: #001837;
 }

 #banner img{
  animation: banner-star 1s infinite linear alternate;
 }

 /* ==============banner animation start============= */
 @keyframes banner-star {
    0%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(7px);
    }
 }
@keyframes banner-btn {
  0%{
    transform: scale(1.2);
  }
}


 /* ============= banner part end ============ */

 /* ============= services part start ======== */

#services{
  margin: 40px;
}
#services .ser-start{
  background: url(../images/services1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 43px 0 40px 40px;
  position: relative;
}
#services .ser-start .header{
  display: flex;
  align-items: center;
  gap: 10px;
}
#services .ser-start .header .brush{
  color: var(--brand);
  transform: rotate(225deg);
}
#services .ser-start .header h3{
  font-size: 13px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 17px;
}
#services .ser-start p{
  width: 298.45px;
  font-size: 26px;
  font-weight: 700;
  font-weight: var(--quicksand);
  color: #001837;
  line-height: 30px;
  margin-top: 101px;
}
#services .ser-start .service-arrow{
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 70px;
  height: 60px;
  background-color: #F0F2F4;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 10px 0;
}
#services .ser-start .service-arrow a{
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  color: white;
}
#services .ser-center{
  height: 100%;
  padding: 20px;
  background-color: var(--brand);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#services .ser-center h2{
  font-size: 70px;
  font-weight: 800;
  font-family: var(--opensans);
  line-height: 100px;
  color: var(--primary);
}
#services .ser-center span{
  color: var(--brand);
  background-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
#services .ser-center p{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--opensans);
  color: white;
  line-height: 27px;
}
#services .ser-end{
  height: 100%;
  background: url(../images/services2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 40px 0 0 40px;
  position: relative;
  overflow: hidden;
}
#services .ser-end h4{
  width: 236px;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--quicksand);
  color: var(--primary);
  line-height: 28px;
}
#services .ser-end .btn{
  width: 179px;
  height: 70.61px;
  background-color: #F0F2F4;
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 30px;
  position: absolute;
  right: -13px;
  bottom: 0;
}
#services .ser-end .common-btn{
  /* font-size: 15px; */

}











 /* ============= services part end ========== */